@model TUT09_GRUPO_B.Models.Musica_B

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Musica_B</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo_B)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo_B)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autor_B)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor_B)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duracao_B)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duracao_B)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ficheiro_B)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ficheiro_B)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_B }) |
    <a asp-action="Index">Back to List</a>
</div>
